﻿@{
    ViewData["Title"] = "Home Page";
}

<style>

    .calculator {
        background-color: #1A2238;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

        .calculator input[type="text"] {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
            background-color: white;
            color: #1A2238;
            text-align: right;
            box-sizing: border-box;
        }

        .calculator input[type="button"] {
            width: 50px;
            height: 50px;
            padding: 10px;
            margin: 5px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            background-color: white color: #1A2238;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .calculator input[type="button"]:hover {
                background-color: #777;
            }
</style>


<div class="calculator">
    <input type="text" id="display" readonly>
    <br>
    <input type="button" value="1" onclick="appendToDisplay('1')">
    <input type="button" value="2" onclick="appendToDisplay('2')">
    <input type="button" value="3" onclick="appendToDisplay('3')">
    <input type="button" value="+" onclick="appendToDisplay('+')">
    <br>
    <input type="button" value="4" onclick="appendToDisplay('4')">
    <input type="button" value="5" onclick="appendToDisplay('5')">
    <input type="button" value="6" onclick="appendToDisplay('6')">
    <input type="button" value="-" onclick="appendToDisplay('-')">
    <br>
    <input type="button" value="7" onclick="appendToDisplay('7')">
    <input type="button" value="8" onclick="appendToDisplay('8')">
    <input type="button" value="9" onclick="appendToDisplay('9')">
    <input type="button" value="*" onclick="appendToDisplay('*')">
    <br>
    <input type="button" value="0" onclick="appendToDisplay('0')">
    <input type="button" value="C" onclick="clearDisplay()">
    <input type="button" value="=" onclick="calculate()">
    <input type="button" value="/" onclick="appendToDisplay('/')">
</div>

<script>
        function appendToDisplay(value) {
            document.getElementById('display').value += value;
        }

        function clearDisplay() {
            document.getElementById('display').value = '';
        }
    function calculate() {
        var expression1 = document.getElementById('display').value.trim(); // Trim whitespace
        console.log(expression1);
        if (!expression1) {
            console.error('Expression is empty');
            return;
        }

        var formData = new FormData();
        formData.append('expression', expression1);

        fetch('/Home/Calculate', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.error) {
                alert(data.error);
                clearDisplay();
            } else {
                document.getElementById('display').value = data.result;
            }
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }


</script>